<div class="panel-collapse collapse in" aria-expanded="true" ng-controller="cidadeCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span><span>&nbsp;Cliente</span></h3>
            <span id="iconFilter" ng-click="toggleFilter(toShow)" class="pull-right clickable">Filtrar &nbsp;<i class="glyphicon glyphicon-filter"></i></span>
        </div>
        <div id="divFilterBodyCollapse" class="panel-default" ng-show="toShow">
            <div id="bodyFilter" class="panel-body">
                <input type="text" class="search" ng-model="filterCidade" ng-change="seach(filterCidade)">
            </div>
        </div>
        <div class="container panel-table" id="mainContainer">
            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <td>codigo</td>
                    <td>Cliente</td>
                    <td>Editar</td>
                    <td>Excluir</td>
                </tr>
                <tbody>
                    <tr ng-repeat="cidade in cidades">
                        <td width="30px">{{cidade.CodCidade}}</td>
                        <td>{{cidade.NomeCidade}}</td>
                        <td width="30px" align="center"><a href="" ng-click="editRow(cidade.CodCidade)"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td width="30px" align="center"><a href="" ng-click="editRow(cidade.CodCidade)"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                </tbody>
            </table>
            {{filterCidade}}
        </div>
    </div>
</div>
</div>
