<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <div id="divPeriodos" class="tile-stats">
           <!-- <ul class="nav nav-pills nav-justified">
                <li><a href="#">Julho-2017</a></li>
                <li><a href="#">Agosto-2017</a></li>
                <li><a href="#">Setembro-2017</a></li>
                <li><a href="#">Outubro-2017</a></li>
                <li><a href="#">Novembro-2017</a></li>
                <li class="active"><a href="#">Dezembro-2017</a></li>
            </ul>-->
        </div>
    </div>
</div>

<div class="container panel-table" id="tableContainer"></div>
