<div id="divContas" class="panel-collapse collapse in" aria-expanded="true">
    <div class="container panel-table" id="tableContaContainer"></div>
</div>

<div id="divExtrato" class="panel-collapse collapse" aria-expanded="true">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div id="divConta" class="tile-stats">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div id="divPeriodos" class="tile-stats">
            </div>
        </div>
    </div>
    <div class="container panel-table" id="tableContainer"></div>
    <div class="panel-footer">
        <button type="button" class="btn btn-default pull-right" onclick="javascript:ctrExtrato.close();">Fechar</button>
        <div class="clearfix"></div>
    </div>
</div>


