<div id="menuDiv">
    <nav class="navbar navbar-default toppolk">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand titlepolk" href="#"><span class="glyphicon glyphicon-globe"></span>&nbsp;Polk System</a></div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="titlepolk" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;marcos</a></li>
                    <li><a class="titlepolk" href="#" ng-click="logOff()"><span class="glyphicon glyphicon-off"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
