<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <span class="visible-xs navbar-brand">Menu Lateral</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul id="sidenav01" class="nav navbar-nav">
                <li class="active"><a href="#" class="collapsed" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01">Cadastro</a></li>
                <li><a class="collapsed" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" href="Cidade.html"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Cidade</a></li>
                <li><a class="collapsed" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" href="Profissao.html"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Profissao</a></li>
                <li><a class="collapsed" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" href="Cliente.html"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Cliente</a></li>
                <li><a class="collapsed" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" href="GrupoAcesso.html"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Grupo Acesso</a></li>
                <li><a class="collapsed" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" href="Usuario.html"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Usuario</a></li>
            </ul>
        </div>
    </div>
</div>
