.search {
    background-image: url("../images/searchicon.png");
    background-position: 10px 4px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 15px;
    padding: 4px 20px 4px 42px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.no-margim {
    margin: 38px 0 -15px!important;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

/*.panel-table {
  overflow-y:scroll; 
  max-height:420px;
}*/

.container {
    margin-top: 10px;
}

.pagination {
    display: block!important;
}
.panel-default > .panel-heading {
    color: #73879C;
}