.search {
    background-image: url("../images/searchicon.png");
    background-position: 10px 4px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 15px;
    padding: 4px 20px 4px 42px;
    border: 1px solid #ddd;
}

.no-margim {
    margin: 38px 0 -15px!important;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.pagbottom {
    display: block!important;
}

.panel-default > .panel-heading {
    color: #73879C;
}
.dataIcon {
    background-image: url("../images/calendar.png");
    background-size:18px;
    background-position: 10px 4px;
    background-repeat: no-repeat;
    padding: 4px 20px 4px 42px;
}

.labelConta {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    font-size: 21px;
}
.debito {
     color: #b94646;
}
.saldos {
     font-weight: bold;
}